var subStr = function (val, start, stop) {
  if (val) {
    return val.substring(start, stop)
  } else {
    return ''
  }
}

var subDate = function (val) {
  if (val) {
    return val.substring(5, 10)
  } else {
    return ''
  }
}

var subTime = function (val) {
  if (val) {
    return val.substring(11, 16)
  } else {
    return ''
  }
}

module.exports = {
  subStr: subStr,
  subDate: subDate,
  subTime: subTime,
};